<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0"/>
    <meta charset="utf-8"/>

     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <script src="../js/maps.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-LM717FiPawYbwuPowR8KoyEDT3LkWSQ&callback=initMap" async defer></script>
    <link rel="stylesheet" href="../css/styles.css"/>
  </head>
  <body>
    <div id="title">
        <div class="row mt-3">
            <div class="col-lg-7 ml-3 small">
            </div>  
            <div class="col-lg-2 ml-3 small text-right">
                <label for="email">Email address :</label>
                <input type="email" class="ml-2" id="email">
            </div>
            <div class="col-lg-2 small">
                <label for="pwd">Password :</label>
                <input type="password" class="ml-2" id="pwd">
            </div>
        </div>
        <div class="row border">
        </div>
    </div>    
    <div id="map">
    </div>
  </body>
</html>